#middlePart-iframe-iframe {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#craft-title {
  text-align: center;
  border-bottom: solid;
  padding-bottom: 3vh;
  width: 100%;
  margin: 0;
  margin-top: 2vh;
}

#craft-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: solid;
  cursor: pointer;
}

.craft-nav {
  width: 100%;
  text-align: center;
  font-size: larger;
  border: solid;
  color: black;
  padding: 1vh;
  text-decoration: none;
}

#craft-nav-particles:hover {
  background: rgba(230, 230, 230, 0.516);
}

#craft-nav-atoms:hover {
  background: rgba(230, 230, 230, 0.516);
}

#craft-nav-molecules:hover {
  background: rgba(230, 230, 230, 0.516);
}


/*DON'T TOUCH THIS PART, YOU COULD MAKE IT WORSE*/
#craftTableParticle-1 {
  position: absolute;
  height: 15vh;
  width: 15vh;
  border-radius: 100vh;
  transform: translateX(50%);
  border: solid;
  right: 50%;
  top: 35%;
  cursor: pointer;
  background-color: #ebbeb9;
  font-size: large;
}

#craftTableParticle-2 {
  position: absolute;
  height: 15vh;
  width: 15vh;
  border-radius: 100vh;
  transform: translateX(-50%);
  border: solid;
  left: 40.3%;
  top: 55%;
  cursor: pointer;
  background-color: #ebbeb9;
  font-size: large;
}

#craftTableParticle-3 {
  position: absolute;
  height: 15vh;
  width: 15vh;
  border-radius: 100vh;
  transform: translateX(50%);
  border: solid;
  right: 40.3%;
  top: 55%;
  cursor: pointer;
  background-color: #ebbeb9;
  font-size: large;
}

/*after that, you can touch it*/

#craftTableParticle-button {
  border-radius: 5vh;
  border-style: solid;
  background-color: #95c4de;
  color: white;
  font-family: ConcertOne-Regular;
  font-size: large;
  padding: 1.5vh;
  height: 8vh;
  width: 8vw;
  cursor: pointer;
  box-shadow: -1vw 1vh 0.2vw 0.1vh #b6aee84f;
  margin-top: 50vh;
}

#craftTableAtoms {
  display: none;
  height: 100%;
  width: 100%;
}

/* Don't touch this I made it completely random but it works */
#craftTableAtoms-insertYourParticles {
  float: left;
  border-right: solid;
  padding-right: 1vw;
  margin: 0;
  text-align: left;
  margin-left: 1vw;
}

h3 {
  font-size: 2.5vh;
}

#titleCraftSpace {
  border: none;
  padding: 0;
}

#cancelCraftButton {
  position: absolute;
  height: 5vh;
  width: 5vh;
  border: solid;
  border-radius: 50vh;
  right: 1.7%;
  top: 1.7%;
  cursor: pointer;
  font-size: 2vh;
  background: white;
}

#cancelCraftButton:hover {
  background: rgba(230, 230, 230, 0.516);
}

#craftTableAtoms-minusProton {
  background: white;
  font-size: 2vh;
  height: 4vh;
  width: 4vh;
  border: solid;
  border-radius: 5vh;
  cursor: pointer;
}

#craftTableAtoms-minusProton:hover {
  background: rgba(230, 230, 230, 0.516);
}

#craftTableAtoms-plusProton {
  background: white;
  font-size: 2vh;
  height: 4vh;
  width: 4vh;
  border: solid;
  border-radius: 5vh;
  cursor: pointer;
}

#craftTableAtoms-plusProton:hover {
  background: rgba(230, 230, 230, 0.516);
}

#craftTableAtoms-minusNeutron {
  background: white;
  font-size: 2vh;
  height: 4vh;
  width: 4vh;
  border: solid;
  border-radius: 5vh;
  cursor: pointer;
}

#craftTableAtoms-minusNeutron:hover {
  background: rgba(230, 230, 230, 0.516);
}

#craftTableAtoms-plusNeutron {
  background: white;
  font-size: 2vh;
  height: 4vh;
  width: 4vh;
  border: solid;
  border-radius: 5vh;
  cursor: pointer;
}

#craftTableAtoms-plusNeutron:hover {
  background: rgba(230, 230, 230, 0.516);
}

#craftTableAtoms-minusElectron {
  background: white;
  font-size: 2vh;
  height: 4vh;
  width: 4vh;
  border: solid;
  border-radius: 5vh;
  cursor: pointer;
}

#craftTableAtoms-minusElectron:hover {
  background: rgba(230, 230, 230, 0.516);
}

#craftTableAtoms-plusElectron {
  background: white;
  font-size: 2vh;
  height: 4vh;
  width: 4vh;
  border: solid;
  border-radius: 5vh;
  cursor: pointer;
}

#craftTableAtoms-plusElectron:hover {
  background: rgba(230, 230, 230, 0.516);
}


#craftTableAtoms-table-1 {
    position: absolute;
    height: 15vh;
    width: 15vh;
    border-radius: 100vh;
    transform: translateX(50%);
    border: solid;
    right: 50%;
    top: 35%;
    cursor: pointer;
    background-color: #ebbeb9;
    font-size: large;
}
  
#craftTableAtoms-table-2 {
    position: absolute;
    height: 15vh;
    width: 15vh;
    border-radius: 100vh;
    transform: translateX(-50%);
    border: solid;
    left: 40.3%;
    top: 55%;
    cursor: pointer;
    background-color: #ebbeb9;
    font-size: large;
}
  
#craftTableAtoms-table-3 {
    position: absolute;
    height: 15vh;
    width: 15vh;
    border-radius: 100vh;
    transform: translateX(50%);
    border: solid;
    right: 40.3%;
    top: 55%;
    cursor: pointer;
    background-color: #ebbeb9;
    font-size: large;
}