#body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#craft-title-menu {
  text-align: center;
  margin: 0px;
}

#up-craft {
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  transform: translateX(50%);
  border: solid;
  right: 50%;
  top: 35%;
}

#down-left-craft {
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  transform: translateX(-50%);
  border: solid;
  left: 42.6%;
  top: 51%;
}

#down-right-craft {
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  transform: translateX(50%);
  border: solid;
  right: 42.6%;
  top: 51%;
}