@font-face {
  font-family: ConcertOne-Regular;
  src: url(../files/ConcertOne-Regular.ttf);
}

body {
  font-family: ConcertOne-Regular, Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 100vh;
}

#middlePart-title {
  text-align: center;
  font-size: 3em;
}

#rightPart {
  border-left-style: solid;
  padding-left: 2vw;
  padding-right: 2vw;
  width: 15%;

}

#rightPart-particles {
  margin-top: 2vh;
  width: 100%;
  background-color: #e0c29f;
  border-radius: 5vh;
  padding: 1vh;
}

#leftPart {
  padding-left: 2vw;
  border-right-style: solid;
  padding-right: 2vw;
}

#leftPart-buttons {
  margin-top: 5vh;
}

.leftPart-button {
  border-radius: 5vh;
  border-style: solid;
  background-color: #95c4de;
  color: white;
  font-family: ConcertOne-Regular;
  font-size: large;
  padding: 1.5vh;
  height: 8vh;
  width: 8vw;
  cursor: pointer;
  box-shadow: -12px 12px 2px 1px #b6aee84f;
}

.leftPart-button:hover {
  animation: leftPart-button-keyframes 15s infinite;
}

@keyframes leftPart-button-keyframes {
  50% {
    transform: scale(115%);
    box-shadow: #b6aee84f -5px 5px, #b6aee83d -10px 10px, #b6aee828 -15px 15px, #b6aee815 -20px 20px, #b6aee802 -25px 25px;
  }

  85% {
    transform: scale(101%);
  }

  95% {
    box-shadow: none;
    transform: scale(400%);
  }
}

#middlePart {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%
}

#middlePart-iframe {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

#middlePart-iframe-iframe {
  border: solid;
  border-radius: 15px;
  height: 90%;
}