@font-face {
  font-family: ConcertOne-Regular;
  src: url(../files/ConcertOne-Regular.ttf);
}

body {
  font-family: ConcertOne-Regular, Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#middlePart-title {
  text-align: center;
  font-size: 3em;
}

#rightPart {
  border-left-style: solid;
  padding-left: 2vw;
  padding-right: 2vw;
  width: 15%;
}

#rightPart-particles {
  margin-top: 2vh;
  width: 100%;
  background-color: #e0c29f;
  border-radius: 5vh;
  padding: 1vh;
  box-shadow: -1vw 1vh 0.2vw 0.1vh #b6aee84f;
}

#leftPart {
  padding-left: 2vw;
  border-right-style: solid;
  padding-right: 2vw;
}

#leftPart-buttons {
  margin-top: 5vh;
  width: min-content;
}

.leftPart-button {
  border-radius: 5vh;
  border-style: solid;
  background-color: #95c4de;
  color: white;
  font-family: ConcertOne-Regular;
  font-size: large;
  padding: 1.5vh;
  height: 8vh;
  width: 8vw;
  margin: 1vh;
  cursor: pointer;
  box-shadow: -1vw 1vh 0.2vw 0.1vh #b6aee84f;
}

.leftPart-button:hover {
  animation: leftPart-button-keyframes 15s infinite;
}

@keyframes leftPart-button-keyframes {
  50% {
    transform: scale(115%);
    box-shadow: #b6aee84f -0.5vw 0.5vh, #b6aee83d -1vw 1vh, #b6aee828 -1.5vw 1.5vh, #b6aee815 -2vw 2vh, #b6aee802 -2.5vw 2.5vh;
  }

  85% {
    transform: scale(101%);
  }

  95% {
    box-shadow: none;
    transform: scale(400%);
  }
}

#middlePart {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
}

#middlePart-iframe {
  width: 90%;
  height: 90%;
  display: none;
  flex-direction: column;
}

#middlePart-iframe-iframe {
  border: solid;
  border-radius: 5vh;
  height: 90%;
  overflow-y: auto;
}

.dialog {
  position: fixed;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 60vh;
  background-color: #e0c29f;
  padding: 5vh;
  border-radius: 4vh;
  box-shadow: -5vw 5vh 0.2vw 0.1vh #b6aee84f;
}

.dialog-button {
  padding: 1vh;
  background-color: #95c4de;
  border-radius: 2vh;
  border: solid #95c4de;
  margin: 0.5vw;
  cursor: pointer;
}

#getParticles {
  margin-top: 5vh;
  border: solid;
  border-radius: 50px;
  height: 75%;
  width: 90%;
  overflow: hidden;
}

#getParticles-particle {
  height: 50px;
  width: 50px;
  border: 3px solid;
  border-radius: 100vh;
}

#getParticles-particle:hover {
  cursor: pointer;
}

@keyframes particleMovement1 {
    100% {transform: translateX(100vw);}
}

@keyframes particleMovement2 {
  0% {transform: translateX(100vw);}
  100% {transform: translateX(-100vw);}
}

@keyframes particleMovement3 {
    100% {transform: translate(100vw, 50vh);}
}

@keyframes particleMovement4 {
    100% {transform: translate(100vw, 10vh);}
}

@keyframes particleMovement5 {
    100% {transform: translate(100vw, 40vh);}
}

@keyframes particleMovement6 {
  100% {transform: translate(100vw, 100vh);}
}
