* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background: #0004094b;
}
h1 {
  font-family: fantasy;
  text-align: center;
  font-size: 80px;
  color: #5c0606;
}
#boxtitre {
  border: black solid 5px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}